html, body {
  height: 100%;
  width: 100%;
}

header {
  text-align: center;
}

.top_logo * {
  font-size: 40px;
  max-height: 50px;
  display: inline-block !important;
}

.top_logo img {
  margin: 0 10px -10px 0;
}

header h4 {
  margin-top: -10px;
  font-style: italic;
}

hr {
  color: blue;
}

.center {
    text-align: center;
    margin: 0 auto;
}

.center hr {
    width: 100px;
    background-color: #ecebf4;
    border: none;
    margin: 0 auto;
    height: 4px;
}

section.nondev {
  padding: 0% 5%;
  margin: 0 auto;
  max-width: 500px;
}

.roald h3 {
    text-align: center;
}

.roald h4 {
    text-align: center;
    font-weight: 500 !important;
}

.roald img {
    max-width: 100%;
    margin: 0 auto;
}

.text-url {
  text-decoration: none;
}

.red-text {
    color: #0432ff;
}

.endorsed {
    text-align: center !important;
}

.endorsed img {
    max-height: 120px;
    margin: auto;
}